.signup {
  background-color: rgb(161, 207, 186);
  height: 100vh;
  padding-top: 100px;
}
.container-signup {
  display: flex;
  flex-direction: column;
  height: 570px;
  width: 400px;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  transition: 0.5s;
}

.container-signup:hover {
  box-shadow: 10px 10px 5px rgb(66, 66, 66);
  transform: scale(1.02);
}

.logo-signup {
  margin-top: 10px;
  padding-top: 20px;
  height: 60px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.form-signup {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.input-signup {
  width: 200px;
  height: 30px;
  background-color: rgb(221, 217, 217);
  margin: auto;
  border-radius: 5px;
  border: 2px solid grey;
  transition: 0.77s;
  padding-left: 5px;
  padding-top: 0px;
  font-weight: 500;
}
.input-signup:focus {
  outline: none;
  border: 2px solid rgb(65, 63, 63);
}

.label-signup {
  background-color: white;
  margin-left: 100px;
  padding: 3px;
  font-weight: 600;
}

.btn-signup {
  border: 1px solid grey;
  height: 30px;
  width: 70px;
  padding: 5px;
  font-weight: 600;
  margin-left: 96px;
  margin-top: 18px;
  border-radius: 5px;
  background-color: rgb(41, 39, 39);
  color: white;
  transition: 0.5s;
  cursor: pointer;
  margin-right: 10px;
  transition: 1.1s ease;
}
.btn-signup:hover {
  transform: scale(1.05);
}
.icon {
  height: 30;
  width: 30;
  background-color: rgb(232, 240, 254);
  padding-top: 7px;
  padding-left: 5px;
  cursor: pointer;
}

.inner-input {
  width: 170px;
  height: 25px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  font-weight: 500;
}
.inner-input:focus {
  outline: none;
  border: none;
}
.input-signup-about {
  height: 40px;
  padding-left: 5px;
  padding-top: 5px;
  font-weight: 500;
}

.login-route {
  font-size: 15px;
  font-weight: 500;
  color: rgb(64, 64, 139);
  transition: 0.5s ease-in-out;
}
.login-route:hover {
  color: blue;
}

.profile-signup {
  margin-left: 100px;
  margin-top: 2px;
  font-weight: 500;
}

.btn-signup-disabled {
  border: 1px solid grey;
  height: 30px;
  width: 70px;
  font-weight: 700;
  padding: 5px;
  margin-left: 96px;
  margin-top: 18px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: rgb(165, 157, 157);
  color: rgb(56, 52, 52);
  cursor: pointer;
  transition: 0.5s linear;
}
.btn-signup-disabled:hover {
  transform: scale(0.8);
}

.msg-err{
  font-size: 15px;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 550;
  color: red;
}

.msg-success{
  font-size: 15px;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  color: rgb(14, 116, 36);
}